@using ControleDeContatos.Enums
@model AlterarSenhaModel
@{
    ViewData["Title"] = "Alterar senha";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dissmiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}


@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
        @TempData["MensagemSucesso"]
    </div>
}

<div class="text-center">

    <h1 class="display-4">Alterar senha</h1>

</div>

<form asp-controller="AlterarSenha" asp-action="Alterar" method="post">
    
    <!--Senha Atual-->
    <div class="form-group mt-4">
        <label for="senhaAtual">Senha Atual</label>
        <input type="password" class="form-control" asp-for="SenhaAtual" placeholder="Digite sua senha atual">
        @Html.ValidationMessageFor(x => x.SenhaAtual)
    </div>

    <!--Nova Senha-->
    <div class="form-group mt-4">
        <label for="novaSenha">Nova Senha</label>
        <input type="password" class="form-control" asp-for="NovaSenha" placeholder="Digite a nova senha">
        @Html.ValidationMessageFor(x => x.NovaSenha)
    </div>

    <!--Confirmar Nova Senha-->
    <div class="form-group mt-4">
        <label for="confirmarSenha">Confirmar Nova Senha</label>
        <input type="password" class="form-control" asp-for="ConfirmarNovaSenha" placeholder="Confirme sua senha">
        @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)
    </div>
    
    <br />

    <button type="submit" class="btn btn-primary">Alterar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Home" asp-action="Index" role="button">Voltar</a>
</form>