@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de contatos";
}
<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a asp-controller="Contato" asp-action="Criar" role="button" class="btn btn-primary mt-4">Adicionar novo contato</a>
    </div>
    <br>

    

    <!--Alert Success-->
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    <!--Alert Danger-->
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
            @TempData["MensagemErro"]
        </div>
    }
    
    <br />

    <h1 class="display-4">Lista de contatos</h1>

    <table class="table" id="table-contatos">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Celular</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a asp-controller="Contato" asp-action="Editar" asp-route-id="@contato.Id" role="button" class="btn btn-primary">Editar</a>
                                <a asp-controller="Contato" asp-action="ApagarConfirmacao" asp-route-id="@contato.Id" role="button" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }   
        </tbody>
    </table>
</div>
